/DataOps/stackoverflow_developer_survey.ipynb
/DataOps/SourceFiles/sales.csv
/DataOps/SourceFiles/sellers.csv
/DataOps/developer_survey_2020/README_2020.txt
/DataOps/developer_survey_2020/survey_results_public.csv
/DataOps/developer_survey_2020/survey_results_schema.csv
/.idea
/.gitignore